#uncomment the following lines to use Z_TILT_ADJUST and uncomment G34 Macro to use G34
#[z_tilt]
#z_positions: 
#     10,155
#     270,155
#
#points: 
#    10,155
#    270,155
#speed: 100
#horizontal_move_z: 10

[gcode_macro G29]
gcode:
 BED_MESH_CLEAR
 G28
 BED_MESH_CALIBRATE
 BED_MESH_PROFILE SAVE=x1
 
#[gcode_macro G34]
#gcode:
#     G28
#     Z_TILT_ADJUST		

[gcode_macro G35]
gcode:
     G28
     SCREWS_TILT_CALCULATE

[gcode_macro START_PRINT]
# Reference https://shorturl.at/intuA
# On how to override default parameters
default_parameter_BED_TEMP: 60
default_parameter_EXTRUDER_TEMP: 220
gcode:
	M140 S{BED_TEMP}
	M104 S{EXTRUDER_TEMP}
	M109 S{EXTRUDER_TEMP}
	M190 S{BED_TEMP}
	#Probe Everytime
	G28
	G29 
	#load saved mesh at print start instead of probe. Uncomment to use but comment out G29
	#BED_MESH_PROFILE LOAD=x1   			 
	# Use absolute coordinates
	G90
	# Move the nozzle near the bed
	G1 X0 Y0 Z5 F3000
	# Move the nozzle very close to the bed
	G1 Z0.15 F300
	G92 E0 ;Reset Extruder
	G1 X20 Y15 Z0.3 F5000.0			   
	G1 Z0.3 F1000 				    
	G1 X200 Y15 F1500.0 E15 			   
	G1 X200 Y15.3 Z0.3 F5000.0			    
	G1 X15.3  Y15.3 Z0.3 F1500.0 E30 			
	G1 Z0.3 F3000 				     
	G21 ; set units to millimeters
	G90 ; use absolute coordinates
	M83 ; use relative distances for extrusion
	G92 E0
	set_pressure_advance advance=0.25

[gcode_macro END_PRINT]
gcode:
	## Turn off bed, extruder, and fan
	M140 S0
	M104 S0
	M106 S0
	# Move nozzle away from print while retracting
	G91
	G1 X-2 Y-2 E-3 F300
	# Raise nozzle by 10mm
	G1 Z30 F3000
	G90
	# Disable steppers
	M84

######################################################################
# load / unload filament
######################################################################


#    Macro to Load Filament
[gcode_macro load_filament]
########### Change this ############
default_parameter_EXTRUDER: 220
default_parameter_X: 250
default_parameter_Y: 40
default_parameter_Z: 75
default_parameter_E: 160
########### Gcode ############
gcode:
        G90
        G0 X{X} Y{Y} Z{Z}                #move to area where you can easily load filament
        M109 S{EXTRUDER}            #set hotend temperature and wait
        M83                         #relative positioning on extruder    
        G0 E{E} F400                #prime extruder
        G92 E0

#    Macro to Unload Filament
[gcode_macro unload_filament]
########### Change this ############
default_parameter_EXTRUDER: 220
default_parameter_X: 250
default_parameter_Y: 40
default_parameter_Z: 10
default_parameter_E: 160
########### Gcode ############
gcode:
        G0 X{X} Y{Y}                #move to area where you can easily load filament
        M109 S{EXTRUDER}            #set hotend temperature and wait    
        M83                         #relative positioning on extruder
        G0 E15 F400                 #extrude filament to get better blob on end
        G0 E{E} F1000               #retract additional filament to move out of melt zone
        G92 E0

[gcode_macro bltouch_reset]
gcode:
	BLTOUCH_DEBUG COMMAND=reset

[gcode_macro bltouch_test]
gcode:
	BLTOUCH_DEBUG COMMAND=pin_down
	BLTOUCH_DEBUG COMMAND=pin_up

[gcode_macro probe_test]
gcode:
	G0 Z10
	Probe samples=5

[pause_resume]
recover_velocity: 50.

[display_status]

[virtual_sdcard]
path: /home/pi/gcode_files

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
default_parameter_X: 230    #edit to your park position
default_parameter_Y: 230    #edit to your park position
default_parameter_Z: 10     #edit to your park position
default_parameter_E: 1      #edit to your retract length
gcode:
    SAVE_GCODE_STATE NAME=PAUSE_state
    BASE_PAUSE
    G91
    G1 E-{E} F2100
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F6000

[gcode_macro RESUME]
rename_existing: BASE_RESUME
default_parameter_E: 1      #edit to your retract length
gcode:
    G91
    G1 E{E} F2100
    G90
    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1
    BASE_RESUME

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
default_parameter_X: 230    #edit to your park position
default_parameter_Y: 230    #edit to your park position
default_parameter_Z: 10     #edit to your park position
gcode:
    M104 S0
    M140 S0
    M141 S0
    M106 S0
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT